tests/schema.json
*.pyc
tests/sgmodel.py
tests/test_model.db
tests/test.db
tests/test.txt
tests/sgmodel2.py
.DS_Store
mise.local.toml
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
src/*.egg-info/
.installed.cfg
*.egg
src/shotgrid_orm.egg-info/PKG-INFO
src/shotgrid_orm.egg-info/SOURCES.txt
